.bloglist {
  color: black;
  div {
    display: flex;
    justify-content: center;
  }
  a {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1%;
    background-color: rgb(235, 235, 235);
    width: 50%;
    color: black;
    text-decoration: none;
    &:hover {
      background-color: rgb(197, 197, 197);
      color: white;
    }
  }
}
